.playboardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dicesDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playboardImg {
  width: 600px;
}
.dicesImg {
  width: 180px;
}
