.playboardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dicesDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreboard {
  background-color: deeppink;
  border-radius: 10px;
  width: 200px;
  height: 300px;
}

.playboardImg {
  width: 600px;
}
.dicesImg {
  width: 180px;
}

