.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.playboardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dicesDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreboard {
  background-color: deeppink;
  border-radius: 10px;
  width: 200px;
  height: 300px;
}